body {
  background: url("https://www.tripsavvy.com/thmb/J65vD-rZxWpq-Jzp5zk_ZmNUP8k=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Grand-Central-Station-c-Andrew-Burton-Getty-Images-57716ef63df78cb62c83b0d7.jpg") no-repeat center center fixed;
  background-size: cover
}

th {
      border-right: 2px black solid;
      text-align: center;
      border-bottom: 2px black solid
    }

td {
  border-right: 2px black solid;
      text-align: center;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  color: orange;
  background-color: black;
}

.jumbotron {
  color: rgba(255, 155, 0, 1);
  background-color: rgba(0, 0, 0, .5);
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.btn {
  color: orange;
  background-color: black;
}

.train-remove {
  margin-left: 35px;
  text-align: center;
  border-bottom: 1px rgba(0, 0, 0, .125) solid;
  padding: 5px;
}

.table {
  border: 2px black solid;
}

.name-train {
  border-left: 2px black solid;
}

.card {
  background-color: rgba(255, 255, 255, .75)
}

h1 {
  font-size: 60px;
  border-bottom: 5px orange solid;
}

h3 {
  font-size: 40px;
}

.clock {
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  color: orange;
  margin-bottom: 15px;
  font-size: 40px;
  margin-left: 261px;
}

button {
  border-radius: 25%;
  background-color: orange;
  border: 4px black solid;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

button:hover {
  box-shadow: 2px 2px 5px orange;
  text-shadow: 1px 1px 5px black;
  border: 3px black solid;
}